/* This is a comment in CSS. */
.example-blue-style {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: bold;
   color: #0000CC;
}

body {
   background-color: #FDD6B4;
}

.main-content {
   padding-left: 10%;
   padding-right: 10%;
}
