body {
   background-color: white;
   padding-bottom: 5vh;
}

.navbar {
   margin-bottom: 0;
}

.nav-custom {
   background-color: white;
}

.content {
   display: flex;
   flex-direction: column;
}

.about {
   margin-top: 25px;
   margin-bottom: 25px;
   font-size: 1.5em;
   padding-left: 3em;
   padding-right: 3em;
}

.main-content {
   order: 1;
}

.flavors {
   order: 2;
}

.flavors-list {
   font-size: 2em;
   margin-top: 1em;
   padding-left: 3em;
   padding-right: 3em;
}

.banner {
   background-color: #e475c1;
   color: white;
   padding-top: 1rem;
   padding-bottom: 1.5rem;
   padding-left: 1rem;
   padding-right: 1rem;
   border-top: 0.5rem solid #3acfbb;
}

.hidden {
   visibility: hidden;
   overflow: hidden;
   line-height: 0;
}

@media screen and (max-width: 600px) {
   .about {
      font-size: 1em;
   }
   .flavors-list {
      font-size: 1.5em;
   }
   .bg-image {
      background-size: 600px;
      max-height: 200px;
   }
}